h1 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

h2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

h3 {
  font-size: 19px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: -0.01em;
}

h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  font-size: 10px;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: 0.01em;
}

@mixin component-title-number {
  font-size: 50px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0em;
}

@mixin component-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
}

@mixin component-1-extraBold {
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0px;
}

@mixin component-1-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
}

@mixin component-1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}

@mixin component-button-L {
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
}

@mixin component-button-M {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
}

@mixin component-2-medium {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
}

@mixin component-2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}

@mixin component-button-S {
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
}

@mixin component-tooltip-title {
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
}

@mixin component-chip-S-M {
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
}

@mixin component-tooltip-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.02em;
}

@mixin component-notification-label {
  font-size: 12px;
  font-weight: 900;
  line-height: 14px;
  letter-spacing: 0em;
}

@mixin component-calendar-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.02em;
}

@mixin component-messages {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.02em;
}
