$sf-media-xs-width: 375px;
$sf-media-xs-height: 667px;

$sf-media-sm-width: 768px;
$sf-media-sm-height: 1024px;

$sf-media-md-width: 1024px;
$sf-media-md-height: 768px;

$sf-media-lg-width: 1280px;
$sf-media-lg-height: 720px;

$sf-media-xl-width: 1600px;
$sf-media-xl-height: 900px;

$sf-media-xxl-width: 1920px;
$sf-media-xxl-height: 1080px;
