$sf-media-xs-width: 375;
$sf-media-xs-height: 667;

$sf-media-sm-width: 768;
$sf-media-sm-height: 1024;

$sf-media-md-width: 1024;
$sf-media-md-height: 768;

$sf-media-lg-width: 1280;
$sf-media-lg-height: 720;

$sf-media-xl-width: 1600;
$sf-media-xl-height: 900;

$sf-media-xxl-width: 1920;
$sf-media-xxl-height: 1080;
