@import '~sfui/dist/styles/SFColors/SFColors.module.scss';

@mixin flexLayout($orientation, $gap) {
  display: flex;
  flex-direction: $orientation;
  gap: $gap;
}

@mixin gridLayout($orientation, $gap, $minWidth, $maxWidth) {
  display: grid;
  gap: $gap;

  @if $orientation == column {
    grid-template-columns: repeat(auto-fit, minmax($minWidth, $maxWidth));
  } @else {
    grid-template-rows: repeat(auto-fit, minmax($minWidth, $maxWidth));
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bodyContent {
  @include gridLayout(row, 15px 10px, 60px, 1fr);
  padding: 10px;

  .textHeader {
    @include flexLayout(row, 0);
    font-size: 1rem;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $sf-grey-600;
  }

  .demoPage {
    .demoItem {
      display: grid;
      grid-template-columns: 1fr;
      padding: 10px;

      .demoTitle {
        padding: 10px 0;
        font-weight: 500;
      }

      .demoBody {
        padding: 0 30px 0 0;

        .demoTest {
          display: grid;
          gap: 10px;
        }
      }

      .demoResponse {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
          monospace;
        padding: 10px;
        margin: -10px;
      }
    }
  }

  .pagesLayout {
    @include gridLayout(row, 30px, 100px, 1fr);

    .content {
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px 10px;

      .section {
        &.fitContent {
          overflow-x: scroll;
        }

        .title {
          padding-bottom: 20px;
          border-bottom: 4px solid $sf-grey-100;
        }
      }
    }
  }
}

.row {
  @include flexLayout(row, 30px 10px);
  flex-wrap: wrap;

  &.spaced {
    justify-content: space-between;
  }
}

.grid-row {
  @include gridLayout(column, 10px, 10px, 1fr);
}

.grid-column {
  @include gridLayout(row, 10px, 10px, 1fr);
}

.custom-grid {
  @include gridLayout(row, 10px, 10px, 1fr);
  grid-template-columns: 1fr;
}

.column {
  @include flexLayout(column, 10px);
}

@media screen and (min-width: 768px) {
  .bodyContent {
    .pagesLayout {
      .content {
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .bodyContent {
    .pagesLayout {
      .content {
        @include gridLayout(column, 20px, 150px, 1fr);

        .section {
          &.fitContent {
            overflow-x: auto;
          }
        }
      }
    }
  }

  .custom-grid {
    @include gridLayout(column, 10px, 10px, 1fr);

    .row {
      display: grid;
    }
  }
}

[class*='night'] {
  .bodyContent {
    .pagesLayout {
      .content {
        .section {
          .title {
            border-bottom: 4px solid $sf-grey-700;
          }
        }
      }
    }
  }
}
